@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Muli', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}

/* global settings */
a {
  text-decoration: none;
  color: #000411;
  color: #eb1c5a69;
}
p {
  font-size: 1.1rem;
}
hr {
  border: 0.5px solid #e2e2e2;
}
.form--group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  justify-content: space-between;
}
label {
  font-size: 1.05rem;
  color: #555;
}
.form--control {
  width: 100%;
  border: 0.3px solid #eee;
  background: #fff;
  padding: 10px;
  padding-left: 45px;
  height: 3.5rem;
  border-radius: 2px;
  margin: 5px 0;
  font-family: 'Muli';
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.03);
  position: relative;
}
.icon {
  position: absolute;
  font-size: 1.15rem;
  color: #b9b9b9;
}
.form--control::placeholder {
  color: #b9b9b9;
  font-size: 1rem;
}
.form--control:focus,
.form--control:active {
  outline: none;
  background: #fff;
}
.btn {
  height: 4rem;
  padding: 10px;
  border: none;
  background: blue;
  color: #fff;
  width: 100%;
  margin: 5px 0;
  font-size: 1rem;
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

button:focus {
  outline: none;
}
/* header */
.nav--bar {
  background: #fff;
  height: 6rem;
  border-bottom: 0.5px solid #eee;
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.03);
}
.nav--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 10%;
  height: 100%;
  padding: 10px;
}
.nav--item {
  margin: 0 1rem;
  color: #000411;
}
.nav--item:hover {
  font-weight: bold;
}

.btn--logout {
  height: 2.5rem;
  border-radius: 100%;
  border: 2px solid blue;
  background: #f8f8f8;
  width: 2.5rem;
  padding: 5px;
}

/* register form */
.register--container {
  position: relative;
  padding: 20px;
  width: 98vw;
  height: 100vh;
  overflow: hidden;
}
.register--form {
  padding: 0;
  background: #f9f9f9;
  border: 0.5px solid #eee;
  border-radius: 3px;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.register--btn {
  border-radius: 0 0 3px 3px;
}
.icon--name {
  top: 27%;
  left: 8%;
}
.icon-email {
  top: 45%;
  left: 8%;
}
.icon-password {
  top: 63%;
  left: 8%;
}
/* login form */
.login--container {
  position: relative;
  padding: 20px;
  width: 98vw;
  height: 100vh;
}
.login--form {
  background: #f9f9f9;
  border: 0.5px solid #eee;
  padding: 0;
  border-radius: 3px;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.07);
}
.icon--email {
  position: absolute;
  top: 33%;
  left: 8%;
}
.icon--password {
  position: absolute;
  top: 55%;
  left: 8%;
  font-size: 1.15rem;
  color: #b9b9b9;
}
.login--btn {
  border-radius: 0 0 3px 3px;
}

form {
  padding: 20px;
}

/* Not found */
.container--404 {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.content--404 {
  border: 0.5px solid #eeeeee;
  padding: 20px;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Homepage */
.home--container {
  position: relative;
  padding: 20px;
  width: 100vw;
  height: 100vh;
}
.home--content {
  border: 1px solid #eeeeee;
  padding: 20px;
  border-radius: 5px;
  width: 60%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -70%);
  text-align: center;
}

/* dashboard */
.dashboard--container {
  position: relative;
  padding: 20px;
  width: 98vw;
  height: 100vh;
}
.dashboard--content {
  border: 1px solid #eeeeee;
  padding: 20px;
  border-radius: 5px;
  width: 60%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
}
